<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
    <label for="username">Enter the username:</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
        User name error </div>
    <br/>
    <label for="yearOfBirth">Enter the year of birth:</label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">
        Year of birth error </div>
    <br/>
    <label for="password">Enter the password:</label>
    <input type="password" name="password" id="password" autocomplete="new-password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
        Password error </div>
    <br/>
    <input type="submit" value="Sign up!"/>
</form>

</body>
</html>
